<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Free Radius Sql Bundle{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}
		{% block header %}
		{% endblock %}
		
		{% block leftsidebar %}
                {% endblock %}

		{% block  container %}
	        {% endblock %}

		{% block rightsidebar %}
                {% endblock %}

		{% block footer %}
                {% endblock %}


	{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
