<a href="check">radcheck</a><br>
<a href="group">radgroup</a><br>
<a href="groupreply">radgroupreply</a><br>
<a href="postauth">radpostauth</a><br>
<a href="reply">radreply</a><br>
<a href="usergroup">radusergroup</a><br>
